h1,h3{
color: #fff;    
}

.jumbotron{
background: #bf5700;    
} 

.card{
border-color: #333f;   
}

.card-heading{
padding: 5px;
background-color: #333f;   
color: #fff;
}

.card-block{
padding: 10px;    
}

.train-table{
background: #333f;
color: #fff;        
}

.btn-primary{
background-color: #bf5700;
border-color: #bf5700;    
}